@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.top{
	margin-right: 10%;
	margin-left: 10%;
}
.top img{
	width: 100%;
	height: 250px;
}
.text{
	margin-left: 18%;
	margin-right: 18%;
	border-bottom: 2px solid red;
}
.mid1{
	margin-left: 18%;;
	margin-right: 18%;
	display: grid;
	grid-template-columns: 278px 278px 278px 278px;
	grid-template-rows: 168px 168px 168px 168px;
	grid-column-gap: 25px;
	grid-row-gap: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.image img{
	width: 278px;
	height: 168px;
}
h1{
	margin-bottom: 15px;
}
h4{
	margin-bottom: 20px;
}
h2{
	margin-bottom: 15px; 
}
.text{
	margin-left: 18%;
	margin-right: 18%;
	border-bottom: 2px solid red;
	padding-bottom: 20px;
}
.mid2{
	margin-left: 18%;;
	margin-right: 18%;
	display: grid;
	grid-template-columns: 278px 278px 278px 278px;
	grid-template-rows: 168px 168px 168px;
	grid-column-gap: 25px;
	grid-row-gap: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.mid3{
	margin-left: 18%;;
	margin-right: 18%;
	display: grid;
	grid-template-columns: 278px 278px 278px 278px;
	grid-template-rows: 168px 168px;
	grid-column-gap: 25px;
	grid-row-gap: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.mid4{
	margin-left: 18%;;
	margin-right: 18%;
	display: grid;
	grid-template-columns: 278px 278px 278px 278px;
	grid-template-rows: 168px 168px;
	grid-column-gap: 25px;
	grid-row-gap: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}